HadoopWSClient/src/META-INF/wsdl/localhost_8080/HadoopService/HadoopService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.hadoop.me.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.hadoop.me.org/" name="HadoopService">
<wsp1_2:Policy xmlns:wsapw3c="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsrmp10="http://schemas.xmlsoap.org/ws/2005/02/rm/policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" wsu:Id="HadoopServicePortBindingPolicy">
<wsp1_2:ExactlyOne>
<wsp1_2:All>
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
<wsrmp10:RMAssertion />
<wsapw3c:UsingAddressing wsp1_2:Optional="true" />
</wsp1_2:All>
</wsp1_2:ExactlyOne>
</wsp1_2:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://service.hadoop.me.org/" schemaLocation="http://localhost:8080/HadoopService/HadoopService?xsd=1" />
</xsd:schema>
</types>
<message name="downloadFile">
<part name="parameters" element="tns:downloadFile" />
</message>
<message name="downloadFileResponse">
<part name="parameters" element="tns:downloadFileResponse" />
</message>
<message name="ServiceFault">
<part name="fault" element="tns:ServiceFault" />
</message>
<message name="getFile">
<part name="parameters" element="tns:getFile" />
</message>
<message name="getFileResponse">
<part name="parameters" element="tns:getFileResponse" />
</message>
<message name="getOutput">
<part name="parameters" element="tns:getOutput" />
</message>
<message name="getOutputResponse">
<part name="parameters" element="tns:getOutputResponse" />
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion" />
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse" />
</message>
<message name="uploadFile">
<part name="parameters" element="tns:uploadFile" />
</message>
<message name="uploadFileResponse">
<part name="parameters" element="tns:uploadFileResponse" />
</message>
<message name="getInput">
<part name="parameters" element="tns:getInput" />
</message>
<message name="getInputResponse">
<part name="parameters" element="tns:getInputResponse" />
</message>
<message name="putFile">
<part name="parameters" element="tns:putFile" />
</message>
<message name="putFileResponse">
<part name="parameters" element="tns:putFileResponse" />
</message>
<message name="isClusterAvailable">
<part name="parameters" element="tns:isClusterAvailable" />
</message>
<message name="isClusterAvailableResponse">
<part name="parameters" element="tns:isClusterAvailableResponse" />
</message>
<message name="listModels">
<part name="parameters" element="tns:listModels" />
</message>
<message name="listModelsResponse">
<part name="parameters" element="tns:listModelsResponse" />
</message>
<message name="getModel">
<part name="parameters" element="tns:getModel" />
</message>
<message name="getModelResponse">
<part name="parameters" element="tns:getModelResponse" />
</message>
<message name="addModel">
<part name="parameters" element="tns:addModel" />
</message>
<message name="addModelResponse">
<part name="parameters" element="tns:addModelResponse" />
</message>
<message name="removeModel">
<part name="parameters" element="tns:removeModel" />
</message>
<message name="removeModelResponse">
<part name="parameters" element="tns:removeModelResponse" />
</message>
<message name="refreshModelRepository">
<part name="parameters" element="tns:refreshModelRepository" />
</message>
<message name="refreshModelRepositoryResponse">
<part name="parameters" element="tns:refreshModelRepositoryResponse" />
</message>
<message name="listInputs">
<part name="parameters" element="tns:listInputs" />
</message>
<message name="listInputsResponse">
<part name="parameters" element="tns:listInputsResponse" />
</message>
<message name="addInput">
<part name="parameters" element="tns:addInput" />
</message>
<message name="addInputResponse">
<part name="parameters" element="tns:addInputResponse" />
</message>
<message name="removeInput">
<part name="parameters" element="tns:removeInput" />
</message>
<message name="removeInputResponse">
<part name="parameters" element="tns:removeInputResponse" />
</message>
<message name="listOutputs">
<part name="parameters" element="tns:listOutputs" />
</message>
<message name="listOutputsResponse">
<part name="parameters" element="tns:listOutputsResponse" />
</message>
<message name="removeOutput">
<part name="parameters" element="tns:removeOutput" />
</message>
<message name="removeOutputResponse">
<part name="parameters" element="tns:removeOutputResponse" />
</message>
<message name="prepareJob">
<part name="parameters" element="tns:prepareJob" />
</message>
<message name="prepareJobResponse">
<part name="parameters" element="tns:prepareJobResponse" />
</message>
<message name="runPreparedJob">
<part name="parameters" element="tns:runPreparedJob" />
</message>
<message name="runJob">
<part name="parameters" element="tns:runJob" />
</message>
<message name="runJobResponse">
<part name="parameters" element="tns:runJobResponse" />
</message>
<message name="killJob">
<part name="parameters" element="tns:killJob" />
</message>
<message name="killJobResponse">
<part name="parameters" element="tns:killJobResponse" />
</message>
<message name="getCompressedOutput">
<part name="parameters" element="tns:getCompressedOutput" />
</message>
<message name="getCompressedOutputResponse">
<part name="parameters" element="tns:getCompressedOutputResponse" />
</message>
<message name="getCompressedWCOutput">
<part name="parameters" element="tns:getCompressedWCOutput" />
</message>
<message name="getCompressedWCOutputResponse">
<part name="parameters" element="tns:getCompressedWCOutputResponse" />
</message>
<portType name="HadoopService">
<operation name="downloadFile">
<input message="tns:downloadFile" />
<output message="tns:downloadFileResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="getFile">
<input message="tns:getFile" />
<output message="tns:getFileResponse" />
</operation>
<operation name="getOutput">
<input message="tns:getOutput" />
<output message="tns:getOutputResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="getVersion">
<input message="tns:getVersion" />
<output message="tns:getVersionResponse" />
</operation>
<operation name="uploadFile">
<input message="tns:uploadFile" />
<output message="tns:uploadFileResponse" />
</operation>
<operation name="getInput">
<input message="tns:getInput" />
<output message="tns:getInputResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="putFile">
<input message="tns:putFile" />
<output message="tns:putFileResponse" />
</operation>
<operation name="isClusterAvailable">
<input message="tns:isClusterAvailable" />
<output message="tns:isClusterAvailableResponse" />
</operation>
<operation name="listModels">
<input message="tns:listModels" />
<output message="tns:listModelsResponse" />
</operation>
<operation name="getModel">
<input message="tns:getModel" />
<output message="tns:getModelResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="addModel">
<input message="tns:addModel" />
<output message="tns:addModelResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="removeModel">
<input message="tns:removeModel" />
<output message="tns:removeModelResponse" />
</operation>
<operation name="refreshModelRepository">
<input message="tns:refreshModelRepository" />
<output message="tns:refreshModelRepositoryResponse" />
</operation>
<operation name="listInputs">
<input message="tns:listInputs" />
<output message="tns:listInputsResponse" />
</operation>
<operation name="addInput">
<input message="tns:addInput" />
<output message="tns:addInputResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="removeInput">
<input message="tns:removeInput" />
<output message="tns:removeInputResponse" />
</operation>
<operation name="listOutputs">
<input message="tns:listOutputs" />
<output message="tns:listOutputsResponse" />
</operation>
<operation name="removeOutput">
<input message="tns:removeOutput" />
<output message="tns:removeOutputResponse" />
</operation>
<operation name="prepareJob">
<input message="tns:prepareJob" />
<output message="tns:prepareJobResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="runPreparedJob">
<input message="tns:runPreparedJob" />
</operation>
<operation name="runJob">
<input message="tns:runJob" />
<output message="tns:runJobResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="killJob">
<input message="tns:killJob" />
<output message="tns:killJobResponse" />
</operation>
<operation name="getCompressedOutput">
<input message="tns:getCompressedOutput" />
<output message="tns:getCompressedOutputResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
<operation name="getCompressedWCOutput">
<input message="tns:getCompressedWCOutput" />
<output message="tns:getCompressedWCOutputResponse" />
<fault message="tns:ServiceFault" name="ServiceFault" />
</operation>
</portType>
<binding name="HadoopServicePortBinding" type="tns:HadoopService">
<ns2:PolicyReference xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#HadoopServicePortBindingPolicy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="downloadFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="getFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOutput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="getVersion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="uploadFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getInput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="putFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isClusterAvailable">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listModels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getModel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="addModel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="removeModel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="refreshModelRepository">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listInputs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="addInput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="removeInput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listOutputs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="removeOutput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="prepareJob">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="runPreparedJob">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
</operation>
<operation name="runJob">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="killJob">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCompressedOutput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
<operation name="getCompressedWCOutput">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ServiceFault">
<soap:fault name="ServiceFault" use="literal" />
</fault>
</operation>
</binding>
<service name="HadoopService">
<port name="HadoopServicePort" binding="tns:HadoopServicePortBinding">
<soap:address location="http://localhost:8080/HadoopService/HadoopService" />
</port>
</service>
</definitions>